.Element{
    display : flex;
    justify-content: center;
}
.Skill  .Element img{
    width : 50px;
    height : 50px;
   
    padding : 20px;
    display: flex;
    justify-content: center;
}

.Skill .SkillElement .WebDevelopper .FrontEnd {
    justify-content: center;
    display: flexbox;
    width: 35%; 
    height : auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow : 0 0 25px #04fffb;
    border-color: black;
    
}



figcaption {
    font-size: 14px; /* Chọn kích thước phù hợp với bạn */
    
}

.WebDevelopper{
    display: flex;
    padding : 30px;
    justify-content: space-around;
}

.Skill .SkillElement .WebDevelopper .Backend {
    justify-content: center;
    display: flexbox;
    width: 35%; 
    height : auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow : 0 0 25px #04fffb;
    border-color: black;
}



.Skill .SkillElement .ToolsAndOther .Tools{
    justify-content: center;
    display: flexbox;
    width: 35%; 
    height : auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow : 0 0 25px #04fffb;
    border-color: black;
}

figcaption {
    font-size: 14px; /* Chọn kích thước phù hợp với bạn */
    
}

.ToolsAndOther{
    display: flex;
    padding : 30px;
    justify-content: space-around;
}

.Skill .SkillElement .ToolsAndOther .Others {
    justify-content: center;
    display: flexbox;
    width: 35%; 
    height : auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow : 0 0 25px #04fffb;
    border-color: black;
}

.FrontEnd p{
    font-size : 30px;
}

.Backend p{
    font-size: 30px;
}

.Tools p{
    font-size : 30px;
}

.Others p{
    font-size: 30px;
}


 /* Render for Samsung and Iphone*/
@media (max-width: 380px){
    .FrontEnd p{
        font-size: 20px;
    }
    .Backend p{
        font-size: 20px;
    }
    .ToolsAndOther p{
        font-size: 20px;
    }
    .Skill  .Element img{
        width : 20px;
        height : 20px;

    }
    .SkillItem figcaption{
        font-size: 10px;
    }
    .Backend .Element{
        display : grid;
        
    }
    .Others .Element{
        display : grid;
    }
    
}


@media (max-width: 500px){
    .FrontEnd p{
        font-size: 20px;
    }
    .Backend p{
        font-size: 20px;
    }
    .ToolsAndOther p{
        font-size: 20px;
    }
    .Skill  .Element img{
        width : 20px;
        height : 20px;

    }
    .SkillItem figcaption{
        font-size: 10px;
    }
    .Backend .Element{
        display : grid;
        
    }
    .Others .Element{
        display : grid;
    }
    
}



/* Render for Ipad mini*/
@media (max-width: 900px){
    .FrontEnd p{
        font-size: 20px;
    }
    .Backend p{
        font-size: 20px;
    }
    .ToolsAndOther p{
        font-size: 20px;
    }
    .Skill  .Element img{
        width : 20px;
        height : 20px;

    }
    .SkillItem figcaption{
        font-size: 10px;
    }
    .Backend .Element{
        display : grid;
        
    }
    .Others .Element{
        display : grid;
    }
    
}

