.Root .content{
  display :flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap : 50px;
  margin-top: 50px;
}
.Root .content img{
  position: relative;
    height: 15%;
    width: 15%;
    border: 1px solid #04fffb;
    border-radius: 100%;
    
    box-shadow : 0 0 25px #04fffb;
  }
  .Root .content .text{
    display :flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  .Root .content .text .name{
    display :flex;
    gap : 25px;
    
  }

  .Root .content .text .name .it{
    margin-top: -40px;
    font-size: 50px;
    padding : 0px;
    
  }
.Root .content .text .name .kaido{
  margin-top: -40px;
    color: #04fffb;
    font-size: 50px;
    padding : 0px;
    
  }
  
  
  
.Root .content{
    display: flex;
    align-items: center;
  }
  .Root .content .text{
    color : white;

}

.Root .content .TextAnimation{
    display: flex;
    align-items: center;
    margin-top: -60px;
    
}

.Root .content .TextAnimation a{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 20px;
}
.Root .content .text .TextAnimation h3{
  font-size: 30px;
}


.Root .content p{
  font-size: 20px;
  font-style: italic;
}

.social{
  margin-top: -30px;
  display: flex;
  gap : 30px;
  
}
.Root .social img{
  width : 45px;
  height : 45px;
}


@media (max-width: 360px) {

  

  .Root .content img {
    height: 30vw; /* Điều chỉnh kích thước ảnh dựa trên viewport width */
    width: 30vw; /* Điều chỉnh kích thước ảnh dựa trên viewport width */
    border-width: 0.2vw; /* Điều chỉnh độ dày của viền ảnh dựa trên viewport width */
    box-shadow: 0 0 5vw #04fffb; /* Điều chỉnh độ rộng của shadow dựa trên viewport width */
  }

  .Root .content .text .name .it,
  .Root .content .text .name .kaido {
    margin-top: 10vw; /* Điều chỉnh margin dựa trên viewport width */
    margin-bottom: 50px;
    font-size: 7vw; /* Điều chỉnh kích thước font chữ dựa trên viewport width */
  }

  .Root .content .TextAnimation {
    margin-top: -15vw; /* Điều chỉnh margin dựa trên viewport width */
  }
  .text{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .Root .content .TextAnimation a {
    margin-left: 2vw; /* Điều chỉnh margin dựa trên viewport width */
    font-size: 5vw; /* Điều chỉnh kích thước font chữ dựa trên viewport width */
  }

  .Root .content .text .TextAnimation h3 {
    font-size: 6vw; /* Điều chỉnh kích thước font chữ dựa trên viewport width */
  }

  .Root .content p {
    font-size: 5vw; /* Điều chỉnh kích thước font chữ dựa trên viewport width */
  }

  .Root .social img {
    width: 10vw; /* Điều chỉnh kích thước ảnh dựa trên viewport width */
    height: 10vw; /* Điều chỉnh kích thước ảnh dựa trên viewport width */
  }
}
