.App {
  /* //background : linear-gradient(45deg, #002523, #2d002c); */
  background : rgb(22, 21, 21);
  width: 100%;
  min-height: 1300px;
  
  

}

.App hr{
  border: 0.5px solid #04fffb; /* Màu đen và chiều rộng 1px */

}

